@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
}

h1 {
    font-weight: 700;
    font-size: 1.7rem;
}

h2 {
    font-weight: 600;
    font-size: 1.25rem;
}

p {
    font-size: 1.1rem;
}

.menu:hover {
    color: #64748b;
    font-weight: 900;
}

.menu:focus {
    color: #64748b;
    font-weight: 900;
    text-decoration: underline;
}